[submodule ".registry"]
	path = .registry
	url = https://github.com/hanneoberman/hanneoberman.r-universe.dev
	branch = HEAD
[submodule "ggmice"]
	path = ggmice
	url = https://github.com/amices/ggmice
[submodule "mice"]
	path = mice
	url = https://github.com/amices/mice
[submodule "roundR"]
	path = roundR
	url = https://github.com/hanneoberman/roundR
